// ===== colors =====================================================
$c-red: #451616;
$c-red-intense: #501818;
$c-cyan-weak: #195b5a;
$c-cyan: #1b6666;
$c-cyan-intense: #1b7272;

$c-accent: $c-cyan-weak;
$c-accent-inverse: #7bbbba;

$c-danger: $c-red;
$c-danger-i: #a47677;

// ===== dimensions =================================================
$padding: 12px;

// ===== fonts ======================================================
$font-family: 'Open Sans', sans-serif;